In [ ]:
number = int(input ("enter number : "))
if number not in int:
    print ("enter an integer")

In [23]:
type ({1:2})

dict

In [22]:

income = int(input ("enter salart : "))
tax = int(input ("enter tax rate %:"))

net_income = income*(1-(tax/100))
print ("annual net_income =", round(net_income,2))
print ("monthly net_income =", round(net_income/12,2))

enter salart : 89999
enter tax rate %:9
annual n
et_income = 81899.09
monthly net_income = 6824.92

In [44]:
n= "hello world"
print (n)

hello world

In [34]:
print ("hello \n\tworld")

hello
	world

In [49]:
len(n)

11

In [53]:
list =[]
for i in n:
    if i!="":
        list.append(i)
print (list)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [56]:
print (n[::-1])

dlrow olleh

In [58]:
n= "Hello World"
print (n[8])

r

In [60]:
print ('tinker'[1:4])

ink

In [31]:
name = "Sam" + " Hello World"

"P"+name[1:]

'Pam Hello World'

In [32]:
name *len(name)

'Sam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello WorldSam Hello World'

In [28]:
name.split('o')

['Sam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rldSam Hell',
 ' W',
 'rld']

In [36]:
print ('crazy text {1}'.format(1,2,3))

crazy text 2

In [48]:
print ('crazy text {1}'.format(1,2,3))

crazy text 2

In [6]:
first_name = str(input ("enter your first name : "))
last_name = str(input ("enter your last name : "))

print ("Welcome {f} {l}".format(f=first_name.capitalize(),l=last_name.capitalize()))

enter your first name : mo
enter your last name : Mo
Welcome Mo Mo